<% c++ #include "contents/Images.h" %>
<% skin %>
<% view images_tatoeba_upload_avatar uses tatoimage::contents::images::TatoebaUploadAvatar extends master %>
<% template title() %><% gt "TODO TITLE" %><% end template %>


<% template body() %> 
    Edit Me Images / TatoebaUploadAvatar
<% end template %>



<% end view %>
<% end skin %>
